@import './reset';

@font-face {
  font-family: 'Neue Montreal';
  src: url(../assets/fonts/NeueMontreal-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../assets/fonts/NeueMontreal-LightItalic.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../assets/fonts/NeueMontreal-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../assets/fonts/NeueMontreal-BoldItalic.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #632692;
  font-family: 'Neue Montreal', sans-serif;
}

header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  pointer-events: none;

  nav {
    position: relative;
    pointer-events: auto;
    margin-bottom: 50px;
    padding: 24px 48px;
    border-radius: 9999px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 9999px;
      z-index: 0;
    }

    .point {
      position: absolute;
      left: 0%;
      bottom: 24%;
      width: 4px;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 9999px;
      pointer-events: none;
    }

    ul {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        padding: 0 16px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        transition: color 0.375s cubic-bezier(0.2, 0, 0, 1);

        &:hover {
          color: #c1c1c1;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50vh;
  padding-bottom: 18vh;

  h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 6vw;
    color: #fff;
    transform: translateY(-50%);
  }

  .diapo {
    margin-top: 10vh;
    width: 100%;
    max-width: calc(100% - 128px);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 64px;

      &:not(:last-child) {
        box-shadow: 0px -15px 20px -6px rgba(0, 0, 0, 0.1);
      }

      @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
          margin-top: -#{$i * 4}vh;
        }
      }

      &:nth-child(1) {
        transform: rotate(-2deg);
      }
      &:nth-child(2) {
        transform: rotate(1deg);
      }
      &:nth-child(3) {
        transform: rotate(-3deg);
      }
      &:nth-child(4) {
        transform: rotate(1deg);
      }
    }
  }
}
